<div class="container" id="contacto">

  <form action="" class="form" id="form" autocomplete="off">


    <p class="form-titulo">CONTACTANOS</p>


    <div class="form-input myname">
      <label for="myname">Nombre</label>
      <input type="text" id="myname">
      <p class="mensajeError"></p>
    </div>

    <div class="form-input email">
      <label for="email">Email</label>
      <input type="email" id="email">
      <p class="mensajeError"></p>
    </div>

    <div class="form-input mobile">
      <label for="telefono">Celular</label>
      <input type="text" id="telefono">
      <p class="mensajeError"></p>
    </div>

    <div class="area-texto">
      <p>Mensaje</p>
      <textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
    </div>


    <div class="form-boton">
      <input type="submit" value="Enviar">
    </div>
    <p class="mensajeCorrecto"></p>



  </form>


 </div>

 <app-footer></app-footer>