
.container{
    background-color: white;
    color: #642a73;
    text-align: center;
    padding: 50px;
}


.form{
    display: grid;
    width: 600px;
    margin: 0px auto;
    text-align: center;
    font-size: 1.2em;
    font-family: 'system-ui','Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="password"]{
    width: 300px;
    height: 25px;
    border: 1px solid gray;

}


input[type="submit"] {
    width: 90px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid gray;
    font-size: 1em;
}

label, p{
    width: 100%;
    margin-top: 15px;
    display: block;
    font-weight: 600;

}

.titulo {
    text-transform: uppercase;
    color: #642a73;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.nombre, .apellido, .email, .user, .clave, .info, .cajaboton{
    grid-template-rows: 1 fr, 1 fr, 1 fr, 1 fr, 1 fr, 1 fr, 1 fr, ;
}

