<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
           <img src="../../assets/bxs-phone.svg" alt=""> <h4>Teléfono</h4>
            <p>549 351000000</p>
        </div>
        <div class="content-foo">
            <img src="../../assets/bxs-map.svg" alt=""><h4>Dirección</h4>
            <p>Calle 128, Barrio Localidad, Córdoba</p>
        </div>
        <div class="content-foo">
          <img src="../../assets/bx-envelope.svg" alt=""><h4>Email</h4>
            <p>prueba@gmail.com</p>
        </div>
    </div>

    <div class="boton-subir">
    <a href="#" class="subir">Ir arriba</a>
    </div>

    <h2 class="titulo-final">&copy; AAA</h2>


   

</footer>