


.formulariocaja{
    background-color: rgb(223, 191, 219);
    border: 3px solid gray;
    border-radius: 8px;

}

registro-header{
    text-align: center;
}

.formulariocaja{
    margin-top:30px;
    text-align: center;

}

#cajaimagen{
    margin-top: 95px;
    margin-bottom: 20px;
}

