<div class="caja container col-md-3  offset-md-3 mx-auto p-4 border border-5">
    <h3 class="text-center">Actualizar producto</h3>
     <form  (ngSubmit)="onSubmit()">

        <p *ngIf="validarCamposVacios == true"  style="color: red ; font:bold;">Debes ingresar todos los datos</p>
        
        <div class="form-group my-1">
            <label>Id</label>
            <input type="text" class="form-control" id="productoId" name="productoId"
            [(ngModel)] = "producto.productoId">
        </div>

        <div class="form-group my-1">
            <label>Nombre producto</label>
            <input type="text" class="form-control" id="nombreProducto" name="nombreProducto"
            [(ngModel)] = "producto.nombreProducto">
        </div>

        <div class="form-group my-1">
            <label>Descripciòn</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
            [(ngModel)] = "producto.descripcion">
        </div>
     
    
    <div class="form-group my-1">
           <label>Precio</label>
           <input type="text" class="form-control" id="precio" name="precio"
           [(ngModel)] = "producto.precio">
       </div>

    
    
    
    
       <button class="btn btn-success my-3 ">Actualizar</button>

     </form>
    </div>


    <app-footer></app-footer>