li{
    padding-right:30px;
    font:bold;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    padding-left: 70px;
    
}
.navbar{
   background-color:rgba(153,102,240,0.6);
   border-radius: 8px;
   background: linear-gradient(rgba(153, 102, 255, 0.85), rgba(153, 102, 255, 0.85)) no-repeat center center fixed;
   background-size: cover;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 8px;
  

}

.contenedortexto{
    margin-top: 7px;
    border-radius: 20px;
    background-color: #A39D9D;
}
.dropdown-menu{
    background: linear-gradient(rgba(153, 102, 255, 0.85), rgba(153, 102, 255, 0.85)) no-repeat center center fixed;
}

#cajaimagen{
    margin-top: 65px;
    
}
#caja-imagen2{
  margin-bottom: 20px;
  
}
#caja-imagen3{
  margin-top: 60px;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}

.primeracaja{
    padding-top: 35px;
}
footer{
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}

.flex-container{
  display: flex;
  background-color: gray;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 10px;
  background-color: gray;
  
}


.contenedorprincipal{
  margin-top: 10px;
  background-color: gray;
}
.iconos{
  font-size: 20px;
  display: flex;
  background-color: khaki;
  flex-flow: row wrap;
  border: khaki;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.Caja-envio, .Caja-reserva, .Caja-buscador{
  margin: 20px;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 20px;
  font-size: 1.1em;
}
i{
  margin-right: 6px;
}
.contenedor{
 background-color: white;
 margin-top: 5px;
 border-radius: 5px;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 font-size: 1.1em;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  font-size: 1em;
}
.enlaceexterno{
  font-size: 1.2em;
  padding: 30px;
 
  

}
article{
  background-color: lightblue;
  border-radius: 20px;
  box-shadow:gray 2px 2px 10px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}
.titulo-enlaces{
  font: bold 1.5em Georgia, 'Times New Roman', Times, serif;
 
}
i{
  margin-left: 10px;
}
.noticias{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  margin-top: 20px;

}
.noticias-{
  padding-top: 20px;
  font-size: 2em;
}

.leer{
  margin-top: 20px;
}