
<div class="contenedor-carrito">

    <div class="caja caja2">
        <h4>{{promo}}</h4>
        <div class="contenido">
          <img src="../../assets/ilustraciones3.png" alt="">
          <p class="precio"> </p>
          <p class="info">Acceso ilimitado al contenido exclusivo </p>
           <p class="info">Reserva de libros</p>
          <p class="info">Reserva de espacio de lectura</p>
          
          <h5>Apreta en el siguiente botòn para abonar con Mercado Pago</h5>

          <div id="datos">

          </div>
          
        </div>
      </div>


      

      

</div>



   

   
<app-footer></app-footer>