
<div class="section_sn" id="sobrenosotros">



    <div class="titulosobrenosotros">

        <a name="UN POCO DE HISTORIA SOBRE NOSOTROS"></a>
        <h2  class="titulo">UN POCO DE HISTORIA SOBRE NOSOTROS</h2> 
        
    </div>     
        
 <div class="contenedor-sobre-nosotros">
    
   <div class="imagen">
    <img src="../../assets/ilustraciones2.png" alt="">
   </div>
      

 <div class="contenido-textos">

    <article> 
        <p>omos una Asociación Civil creada en el año 1989. La institución lleva adelante una tarea fundamental en nuestra localidad, fomentando y facilitando la lectura como el principal medio de acceso al conocimiento, la cultura, el arte y la recreación. La biblioteca no hace distinción de raza, creencias, nacionalidades ni sexo; garantiza el pluralismo ideológico y el ejercicio del derecho a la información. Esta Biblioteca Popular cumple con lo establecido por la Ley 23.551 y su Reglamento aprobado por el poder Ejecutivo de la Nación por Decreto N° 1078/89, como también con las demás disposiciones que en su consecuencia establezca la COMISIÓN NACIONAL PROTECTORA DE BIBLIOTECAS POPULARES (CONABIP).

        La misión de la Biblioteca consiste en recopilar, preservar y difundir los diversos materiales bibliográficos, impresos y en otros soportes, que forman parte de la memoria colectiva regional, nacional e internacional a fin de posibilitar el acceso a la información y al conocimiento contenidos en sus colecciones. </p>
  
       <img src="../../assets/bxl-instagram.svg" alt=""><a href="https://instagram.com/biblio.vgb?utm_medium=copy_link ">Visitanos en nuestro instagram</a>
 </article> 

</div>


</div>

</div>
