<div class="cajacolor">
<div class="contenedor">
    <a name="GALERIA" id="galeria"></a>
    <h2 class="titulo">GALERIA</h2>
    <div class="galeria-port">
    <div class="imagen-port">
        <img src="../../assets/biblioteca1.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca2.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca3.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca4.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca5.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca6.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca7.jpg" alt="">
        <div class="hover-galeria"></div>
    </div>
    <div class="imagen-port">
        <img src="../../assets/biblioteca8.jpg" alt="">
        <div class="hover-galeria"></div>
    </div><br><br>


    </div>
</div>
</div>