<div class="nuestros-servicios" id="servicios">
    <div class="contenedor"><br>
        <a name="NUESTROS SERVICIOS"></a>
        <h2 class="titulo">NUESTROS SERVICIOS</h2>
        <div class="servicio-cont">
       
 
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones4.png" alt="">
            <h3>Membresia Anual o Mensual</h3>
            <p>Podes hacer uso de Material bibliográfico físico y digital sin restricciones; contar con un espacio de lectura cuando lo desees.
            </p>
           <p>Ingresa aquí para <a [routerLink]= "['/tienda']"><strong>SUSCRIBIRTE</strong></a></p>
              </div> 
           
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones5.png" alt="">
            <h3>Reserva de libros</h3>
            <p>Podes consultar por el libro de tu interés y reservarlo</p>
        </div>
  
        <div class="servicio-ind">
            <img src="../../assets/ilustraciones3.png" alt="">
            <h3> Reserva de un espacio de lectura</h3>
            <p>Podes visitarnos en nuestro espacio, y pasar un momento grato de lectura, tranquilidad</p>
        </div>
    </div>
